<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9570b7">  <td>21/02/10 22:52:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="jumia.Task()[pri:0, instance:Task.jumia.com.jumia@71def8f8]">Task</td> 
  <td>main@313239742</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>21/02/10 22:51:59</td>   <td>-35</td> <td>&nbsp;</td><td title="&gt;&gt;jumia.chromeDriver()[pri:0, instance:Task.jumia.com.jumia@71def8f8]">&gt;&gt;chromeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@313239742</td>   <td></td> </tr>
</table>
